* {
    box-sizing: border-box;
  }

body * {
    padding:5px;
}

body {
    background-color: lightgray;
    height: 100vh;
    display: grid;
    grid-gap:10px;
}

header {
    background-color: blueviolet;
    grid-area:header;
}

nav {
    background-color: brown;
    grid-area:navigation;
}

article {
    background-color: burlywood;
    grid-area:article;
}

aside {
    background-color: cadetblue;
    grid-area:aside;
}

footer {
    background-color: chartreuse;
    grid-area:footer;
}

@media only screen and (min-width:640px){
    body {
        grid-template-columns: minmax(150px, 1fr) 3fr minmax(150px, 1fr);
        grid-template-rows: minmax(20px, 10%) auto minmax(20px, 10%);
        grid-template-areas: 
            "header header header"
            "navigation article aside"
            "footer footer footer";
    }  
}

@media only screen and (max-width:640px){
    body {
        grid-template-rows: minmax(20px, 10%) minmax(40px, auto) repeat(3, minmax(20px, 10%));
        grid-template-areas: 
            "header"
            "article"
            "navigation"
            "aside"
            "footer";
    }  
}

